In [1]:
import pandas as pd

df = pd.read_csv("vocational_student_behavioral_dataset_V4.csv")

df.head()

,student_id,age,gender,socioeconomic_status,region,total_logins,weekly_login_count,avg_session_duration,resource_click_count,forum_posts,...,tab_switch_count,total_classes,classes_attended,assignment_score_avg,quiz_score_avg,midterm_exam_score,final_exam_score,attendance_percentage,overall_performance_score,performance_label
0,S1861,19,Male,High,West,59,6,66.079121,22.0,2,...,12,60,55,88.9,100.0,93.2,91.9,91.67,93.31,High
1,S0354,24,Female,Medium,South,19,9,52.658783,50.0,2,...,2,60,41,50.4,36.6,57.3,39.5,68.33,46.44,Low
2,S1334,23,Male,Medium,North,44,2,45.854387,10.0,2,...,4,60,48,77.6,74.2,66.8,71.5,80.00,71.85,High
3,S0906,23,Female,Medium,East,43,4,48.918866,76.0,0,...,4,60,52,76.8,63.7,74.7,70.0,86.67,71.51,Medium
4,S1290,17,Male,High,North,28,2,59.170770,31.0,3,...,4,60,47,69.5,67.1,67.9,68.5,78.33,68.24,Medium

In [2]:
df.isnull().sum()

student_id                      0
age                             0
gender                          0
socioeconomic_status            0
region                          0
total_logins                    0
weekly_login_count              0
avg_session_duration           60
resource_click_count           60
forum_posts                     0
quiz_attempts_count             0
video_watch_completion_rate     0
daily_internet_usage_mins      60
edu_sites_visit_count           0
nonedu_sites_visit_count        0
peak_usage_time                 0
tab_switch_count                0
total_classes                   0
classes_attended                0
assignment_score_avg            0
quiz_score_avg                 60
midterm_exam_score              0
final_exam_score                0
attendance_percentage           0
overall_performance_score       0
performance_label               0
dtype: int64

In [3]:
X = df.drop(columns=["performance_label"])
y = df[["performance_label"]]

print(X.columns)

Index(['student_id', 'age', 'gender', 'socioeconomic_status', 'region',
       'total_logins', 'weekly_login_count', 'avg_session_duration',
       'resource_click_count', 'forum_posts', 'quiz_attempts_count',
       'video_watch_completion_rate', 'daily_internet_usage_mins',
       'edu_sites_visit_count', 'nonedu_sites_visit_count', 'peak_usage_time',
       'tab_switch_count', 'total_classes', 'classes_attended',
       'assignment_score_avg', 'quiz_score_avg', 'midterm_exam_score',
       'final_exam_score', 'attendance_percentage',
       'overall_performance_score'],
      dtype='object')

In [4]:
print(y.columns)

Index(['performance_label'], dtype='object')

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

print("missing values in train data: ", X_train["avg_session_duration"].isnull().sum())
print("missing values in test data: ", X_test["avg_session_duration"].isnull().sum())

missing values in train data:  0
missing values in test data:  60

In [6]:
from sklearn.impute import SimpleImputer                            # Mean imputer

mean_imputer = SimpleImputer(strategy="mean")
X_train["avg_session_duration"] = mean_imputer.fit_transform(X_train[["avg_session_duration"]])
X_test["avg_session_duration"] = mean_imputer.transform(X_test[["avg_session_duration"]])

print("missing values in train data: ", X_train["avg_session_duration"].isnull().sum())
print("missing values in test data: ", X_train["avg_session_duration"].isnull().sum())

missing values in train data:  0
missing values in test data:  0

In [7]:
print("missing values in train data: ", X_train["quiz_score_avg"].isnull().sum())

print("missing values in test data: ", X_test["quiz_score_avg"].isnull().sum())

missing values in train data:  0
missing values in test data:  60

In [8]:
from sklearn.impute import SimpleImputer                            # Median imputer

median_imputer = SimpleImputer(strategy="median")                  
X_train["quiz_score_avg"] = median_imputer.fit_transform(X_train[["quiz_score_avg"]])
X_test["quiz_score_avg"] = median_imputer.transform(X_test[["quiz_score_avg"]])

print("missing values in train data: ", X_train["quiz_score_avg"].isnull().sum())
print("missing values in test data: ", X_test["quiz_score_avg"].isnull().sum())

missing values in train data:  0
missing values in test data:  0

In [9]:
print("missing values in train data: ", X_train["resource_click_count"].isnull().sum())
print("missing values in test data: ",X_test["resource_click_count"].isnull().sum())

missing values in train data:  0
missing values in test data:  60

In [10]:
def compute_end_of_distribution_value(series):                                         # End of distribution imputation
    return series.mean() + 3 * series.std()

fill_val = compute_end_of_distribution_value(X_train["resource_click_count"])          # compute fill value from train

X_train["resource_click_count"] = X_train["resource_click_count"].fillna(fill_val)     # apply to both train and test
X_test["resource_click_count"] = X_test["resource_click_count"].fillna(fill_val)

print("missing values in train data: ", X_train["resource_click_count"].isnull().sum())
print("missing values in test data: ", X_test["resource_click_count"].isnull().sum())

missing values in train data:  0
missing values in test data:  0

In [11]:
data = pd.read_csv("ncr_ride_bookings.csv")

data.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [12]:
data.size

3150000

In [13]:
data.shape

(150000, 21)

In [14]:
data = data.sample(n=15000, random_state=42)   # random but reproducible

data.shape

(15000, 21)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, 59770 to 109880
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               15000 non-null  object
 1   Time                               15000 non-null  object
 2   Booking ID                         15000 non-null  object
 3   Booking Status                     15000 non-null  object
 4   Customer ID                        15000 non-null  object
 5   Vehicle Type                       15000 non-null  object
 6   Pickup Location                    15000 non-null  object
 7   Drop Location                      15000 non-null  object
 8   Avg VTAT                           13951 non-null  float64
 9   Avg CTAT                           10164 non-null  float64
 10  Cancelled Rides by Customer        1056 non-null   float64
 11  Reason for cancelling by Customer  1056 non-null   object
 12  Cancelled Rides by Driver          2731 non-null   float64
 13  Driver Cancellation Reason         2731 non-null   object
 14  Incomplete Rides                   869 non-null    float64
 15  Incomplete Rides Reason            869 non-null    object
 16  Booking Value                      10164 non-null  float64
 17  Ride Distance                      10164 non-null  float64
 18  Driver Ratings                     9295 non-null   float64
 19  Customer Rating                    9295 non-null   float64
 20  Payment Method                     10164 non-null  object
dtypes: float64(9), object(12)
memory usage: 2.5+ MB

In [16]:
data.isnull().sum()

Date                                     0
Time                                     0
Booking ID                               0
Booking Status                           0
Customer ID                              0
Vehicle Type                             0
Pickup Location                          0
Drop Location                            0
Avg VTAT                              1049
Avg CTAT                              4836
Cancelled Rides by Customer          13944
Reason for cancelling by Customer    13944
Cancelled Rides by Driver            12269
Driver Cancellation Reason           12269
Incomplete Rides                     14131
Incomplete Rides Reason              14131
Booking Value                         4836
Ride Distance                         4836
Driver Ratings                        5705
Customer Rating                       5705
Payment Method                        4836
dtype: int64

In [17]:
X = data.drop(columns=["Booking Status"])
y = data[["Booking Status"]]

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("missing values in train data: ", X_train['Payment Method'].isnull().sum())
print("missing values in test data: ", X_test['Payment Method'].isnull().sum())

missing values in train data:  3853
missing values in test data:  983

In [19]:
mode_value = X_train['Payment Method'].mode()[0]                    # Mode Imputation

X_train['Payment Method'] = X_train['Payment Method'].fillna(mode_value)
X_test['Payment Method'] = X_test['Payment Method'].fillna(mode_value)

print("missing values in train data: ", X_train['Payment Method'].isnull().sum())
print("missing values in test data: ", X_test['Payment Method'].isnull().sum())

missing values in train data:  0
missing values in test data:  0

In [20]:
print("missing values in train data: ", X_train['Driver Cancellation Reason'].isnull().sum())
print("missing values in test data: ", X_test['Driver Cancellation Reason'].isnull().sum())

missing values in train data:  9811
missing values in test data:  2458

In [21]:
X_train['Driver Cancellation Reason'] = X_train['Driver Cancellation Reason'].fillna("Missing")   # fill with missing
X_test['Driver Cancellation Reason'] = X_test['Driver Cancellation Reason'].fillna("Missing")

print("missing values in train data: ", X_train['Driver Cancellation Reason'].isnull().sum())
print("missing values in test data: ", X_test['Driver Cancellation Reason'].isnull().sum())

missing values in train data:  0
missing values in test data:  0

In [22]:
print("missing values in train data: ", X_train["Customer Rating"].isnull().sum())
print("missing values in test data: ", X_test["Customer Rating"].isnull().sum())

missing values in train data:  4552
missing values in test data:  1153

In [23]:
from sklearn.impute import KNNImputer                          # KNN-Imputer
knn_imputer = KNNImputer(n_neighbors=5)

X_train["Customer Rating"] = knn_imputer.fit_transform(X_train[["Customer Rating"]])
X_test["Customer Rating"] = knn_imputer.transform(X_test[["Customer Rating"]])

print("missing values in train data: ", X_train["Customer Rating"].isnull().sum())
print("missing values in test data: ", X_test["Customer Rating"].isnull().sum())

missing values in train data:  0
missing values in test data:  0

In [24]:
print("missing values in train data: ", X_train["Avg CTAT"].isnull().sum())
print("missing values in test data: ", X_test["Avg CTAT"].isnull().sum())

missing values in train data:  3853
missing values in test data:  983

In [25]:
from sklearn.experimental import enable_iterative_imputer               # Iterative Imputer
from sklearn.impute import IterativeImputer
iter_imputer = IterativeImputer(max_iter=10, random_state=42)

X_train["Avg CTAT"] = iter_imputer.fit_transform(X_train[["Avg CTAT"]])
X_test["Avg CTAT"] = iter_imputer.transform(X_test[["Avg CTAT"]])

print("missing values in train data: ", X_train["Avg CTAT"].isnull().sum())
print("missing values in test data: ", X_test["Avg CTAT"].isnull().sum())

missing values in train data:  0
missing values in test data:  0